.ui.grid
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: { class: 'ui form six wide column centered'}) do |f|
    %h2.ui.dividing.header
      My account
    = devise_error_messages!

    .field
      = f.label :token
      .ui.action.input
        = f.text_field :token, readonly: true
        .clipboard-btn.ui.teal.right.labeled.icon.button{ data: { clipboard: { action: 'copy', target: '#user_token' } } }
          %i.copy.icon
          Copy

    .field
      = f.label :email
      = f.email_field :email, autofocus: true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        = "Currently waiting confirmation for: #{resource.unconfirmed_email}"

    .field
      = f.label :password
      %i  
        (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: "off"
      - if @minimum_password_length 
        %em
          = "(#{@minimum_password_length} characters minimum)"

    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off"

    .field
      = f.label :current_password
      %i
        (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "off"

    .actions
      = f.submit "Update account", class: 'ui button green'

  .ui.row

  .ui.six.wide.column.centered
    %h2.ui.dividing.header
      Delete my account

    %p
      Unhappy?
    %p
      = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'ui button red'
