.ui.grid
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'ui form six wide column centered'}) do |f|
    %h2.ui.dividing.header
      Sign up

    = devise_error_messages!

    .field
      = f.label :email
      = f.email_field :email, autofocus: true, placeholder: 'Your email'

    .field
      = f.label :password
      - if @minimum_password_length 
        %em
          = "(#{@minimum_password_length} characters minimum)"
      = f.password_field :password, autocomplete: "off", placeholder: 'Your password'

    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm your password'

    .actions
      = f.submit "Sign up", class: 'ui button green'

  .ui.row
    .ui.six.wide.column.centered
      = render "devise/shared/links"
