%a.ui.button{ href: new_application_path } Create application

%table.ui.celled.table
  %thead
    %tr
      %th ID
      %th Name
      %th.collapsing
  %tbody
    - @applications.each do |app|
      %tr
        %td= app.id
        %td.name{ onclick: "document.location = '#{application_probes_path(app)}'" }
          = app.name
        %td.actions
          = link_to application_reports_path(app), class: "ui icon button" do
            %i.tasks.icon
          = link_to edit_application_path(app), class: 'ui icon button' do
            %i.write.icon
          = link_to application_path(app), method: :delete, class: 'ui icon button' do
            %i.remove.icon
