
!!!
%html
  %head
    %title
      MaintenanceServer
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'mainpage', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    :javascript
      $(document)
        .ready(function() {

          // fix menu when passed
          $('.masthead')
            .visibility({
              once: false,
              onBottomPassed: function() {
                $('.fixed.menu').transition('fade in');
              },
              onBottomPassedReverse: function() {
                $('.fixed.menu').transition('fade out');
              }
            })
          ;

          // create sidebar and attach to menu open
          $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
          ;

        })
      ;
  %body.pushable{"data-gr-c-s-loaded" => "true"}
    / Following Menu
    .ui.large.top.fixed.menu.transition.hidden
      .ui.container
        %a.active.item Home
        %a.item Work
        %a.item Company
        %a.item Careers
        .right.menu
          .item
            %a.ui.button{ href: new_user_session_path } Log in
          .item
            %a.ui.primary.button{ href: new_user_registration_path } Sign Up
    / Sidebar Menu
    .ui.vertical.inverted.sidebar.menu.left
      %a.active.item Home
      %a.item Work
      %a.item Company
      %a.item Careers
      %a.item{ href: new_user_session_path } Login
      %a.item{ href: new_user_registration_path } Sign up
    / Page Contents
    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
            %a.toc.item
              %i.sidebar.icon
            %a.active.item Home
            %a.item Work
            %a.item Company
            %a.item Careers
            .right.item
              %a.ui.inverted.button{ href: new_user_session_path } Log in
              %a.ui.inverted.button{ href: new_user_registration_path } Sign Up
        .ui.text.container
          %h1.ui.inverted.header
            Maintain project
          %h2 Continuous testing implemented.
          %a.ui.huge.primary.button{ href: new_user_registration_path }
            Get Started
            %i.right.arrow.icon
      .ui.vertical.stripe.segment
        .ui.middle.aligned.stackable.grid.container
          .row
            .eight.wide.column
              %h3.ui.header Why?
              %p
                Maintenance phase in the software lifecycle is one of the biggest overall expenses. Analyzing the source code characteristics and identifying high-maintenance modules is therefore necessary. This project covers a maintenance metrics collection and analysis.
              %h3.ui.header How can it help you?
              %p
                Maintenance and upkeep is a costly phase of software life cycle. It has been estimated that maintenance can reach up to 92% of total software cost. Code quality can be analyzed using various existing metrics, which can give an estimate on the maintainability of software. Considering maintenance also includes activities post-release of a software product, it would be beneficial to perform quality measurement also in the maintenance and upkeep phase of life cycle.
              %h3.ui.header What we do?
              %p
                One solution to the post-release monitoring are online data gathering probes, which can be inserted into production code to gather runtime performance data. In order to establish and sustain a commitment for maintenance measurement, we introduce a design for data collection and storage. We present an architecture for systematically collecting code metrics for maintenance, as well as the visualization and analysis of the metrics.
            .six.wide.right.floated.column
              .ui.large.bordered.rounded.image#container
          .row
            .center.aligned.column
              %a.ui.huge.button{ href: new_user_registration_path } Check Them Out
      / .ui.vertical.stripe.quote.segment
      /   .ui.equal.width.stackable.internally.celled.grid
      /     .center.aligned.row
      /       .column
      /         %h3 "What a Company"
      /         %p That is what they all say about us
      /       .column
      /         %h3 "I shouldn't have gone with their competitor."
      /         %p
      /           %img.ui.avatar.image{:src => "assets/images/avatar/nan.jpg"}/
      /           %b Nan
      /           Chief Fun Officer Acme Toys
      / .ui.vertical.stripe.segment
      /   .ui.text.container
      /     %h3.ui.header Breaking The Grid, Grabs Your Attention
      /     %p Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
      /     %a.ui.large.button Read More
      /     %h4.ui.horizontal.header.divider
      /       %a{:href => "#"} Case Studies
      /     %h3.ui.header Did We Tell You About Our Bananas?
      /     %p Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
      /     %a.ui.large.button I'm Still Quite Interested
      = render 'layouts/footer'
:javascript
  var xs = ['suitability', 'performance', 'compatibility', 'usability', 'reliability', 'security', 'maintainability', 'portability'];
  Highcharts.chart('container', {
    chart: { polar: true },
    title: { text: 'Application health' },
    pane: { startAngle: 0, endAngle: 360 },
    xAxis: {
        tickInterval: 45,
        min: 0,
        max: 360,
        labels: {
            formatter: function () {
                return xs[this.value/45];
            }
        }
    },
    yAxis: { min: 0, max: 1 },
    plotOptions: {
        series: {
            pointStart: 0,
            pointInterval: 45
        },
        column: {
            pointPadding: 0,
            groupPadding: 0
        }
    },
  
    series: [
      {
        "name":"Application",
        "data":[0.75,0.75,0.75,0.75,0.75,0.75,0.75,0.75]
      },{
        "type":"area",
        "name":"Front-End",
        "data":[0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5]
      },{
        "type":"area","name":"Back-End","data":[1,1,1,1,1,1,1,1]
      }]
  });
