.ui.grid
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'ui form six wide column centered'}) do |f|
    %h2.ui.dividing.header
      Log in
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, placeholder: 'Your email'

    .field
      = f.label :password
      = f.password_field :password, autocomplete: "off", placeholder: 'Your password'

    - if devise_mapping.rememberable?
      .field
        .ui.checkbox
          = f.check_box :remember_me
          = f.label :remember_me

    .actions
      = f.submit "Log in", class: 'ui button green'

  .ui.row
    .ui.six.wide.column.centered
      = render "devise/shared/links"
