// Place all the styles related to the applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "semantic-ui";

td.actions {
  margin: 5px;
}

td.actions .button {
  display: table-cell;
}

td.actions .button:not(:last-child) {
  border-spacing: 5px;
}

.ui.button.danger:after {
  content: '!';

  position: absolute;
  display: block;
  margin-top: -30px;
  margin-left: -16px;
  height: 14px;
  width: 14px;
  background-color: #f00;
  color: #fff;
  border-radius: 50%;
}

td.name {
  cursor: pointer;
}