.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.menu.main {
  border-radius: 0;
}

.content {
  padding: 20px;
}

#probe_script {
  position: absolute;
  width: 100%;
  height: 400px;
}

.script .ace_editor {
  height: 200px;
}
