%a.ui.button{ href: new_application_probe_path(@app) } Create probe

#container
:javascript
  var xs = ['suitability', 'performance', 'compatibility', 'usability', 'reliability', 'security', 'maintainability', 'portability'];
  Highcharts.chart('container', {
    chart: { polar: true },
    title: { text: 'Application health' },
    pane: { startAngle: 0, endAngle: 360 },
    xAxis: {
        tickInterval: 45,
        min: 0,
        max: 360,
        labels: {
            formatter: function () {
                return xs[this.value/45];
            }
        }
    },
    yAxis: { min: 0, max: 1 },
    plotOptions: {
        series: {
            pointStart: 0,
            pointInterval: 45
        },
        column: {
            pointPadding: 0,
            groupPadding: 0
        }
    },

    series: #{JSON.dump [{name: 'Application', data: @app.attributes.slice('suitability', 'performance', 'compatibility', 'usability', 'reliability', 'security', 'maintainability', 'portability').values}] + @app.probes.map{ |p| { type: 'area', name: p.name, data: p.attributes.slice('suitability', 'performance', 'compatibility', 'usability', 'reliability', 'security', 'maintainability', 'portability').values} }}
  });

%table.ui.celled.table
  %thead
    %tr
      %th ID
      %th Name
      %th Quality characteristics
      %th.collapsing
  %tbody
    - @app.probes.each do |probe|
      %tr
        %td= probe.id
        %td= probe.name
        %td
          - probe.quality_characteristics.each do |qual|
            .ui.button.disabled
              = qual
        %td.actions
          = link_to application_probe_reports_path(@app, probe), class: "ui icon button" do
            %i.tasks.icon
          = link_to edit_application_probe_path(@app, probe.id), class: 'ui icon button' do
            %i.write.icon
          = link_to application_probe_path(@app, probe), method: :delete, class: 'ui icon button' do
            %i.remove.icon
