= form_for [@app, @probe], html: { class: 'ui form' } do |f|
  %form.ui.form
    .field
      .label Probe name
      = f.text_field :name
    .field
      .label Quality characteristics
      .ui.fluid.multiple.search.selection.dropdown
        %input{type: :hidden, name: 'quals', value: (@probe.quality_characteristics || []).join(',')}
        %i.dropdown.icon
        %input.search{autocomplete: 'off', tabindex: 0}
        %span.sizer
        .default.text Quality characteristics
        .menu.transition
          - [:suitability, :performance, :compatibility, :usability, :reliability, :security, :maintainability, :portability].each do |char|
            .item{'data-value' => char, 'data-text' => char.capitalize}
              #{char.capitalize}
    .field
      .label Analyzers
      .ui.fluid.search.selection.dropdown
        %input{type: :hidden, name: 'analyzer', value: @probe.analyzer}
        %i.dropdown.icon
        %input.search{autocomplete: 'off', tabindex: 0}
        %span.sizer
        .default.text Analyzer
        .menu.transition
          - Analyzers.constants.select { |c| Analyzers.const_get(c).is_a?(Class) && c.to_s.end_with?('Analyzer') }.each do |char|
            .item{'data-value' => char, 'data-text' => char}
              #{char}
    .field.script
      .label Probe script
      #probe_mock_script
      = f.hidden_field :script
    = f.submit
:javascript
  var editor = ace.edit('probe_mock_script');
  var javaScriptMode = ace.require('ace/mode/javascript').Mode;

  editor.setTheme("ace/theme/twilight");
  editor.session.setMode(new javaScriptMode());

  $('.ui.form').submit(function() {
    $('#probe_script').val(editor.getSession().getValue());
  });
