%table.ui.celled.table
  %thead
    %tr
      %th Status
      %th Probe
      %th Datetime
  %tbody
    - @reports.each do |report|
      %tr{ onclick: "document.location = '#{report_path(report)}'" }
        %td= report.status
        %td= report.probe.name
        %td= report.created_at.strftime('%d.%m.%Y %H:%M')
  = paginate @reports
