%h1
  Report for application #{@app.name} (#{@report.probe.name}) from #{@report.created_at.strftime('%d.%m.%H')}

= line_chart(@report.series.map { |k,v| { name: k, data: v }}, min: nil, max: nil, adapter: 'highcharts')

%h2 Problematic modules
%table.ui.celled.table
  %thead
    %tr
      %th File
      %th Score
  %tbody
    - @report.problematic_modules.each do |mod|
      %tr
        %td= mod["name"]
        %td= mod["maintainability"]