!!!
%html
  %head
    %title
      MaintenanceServer
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.site
    .ui.inverted.menu.main
      - if current_user
        %a.item{ href: applications_path }
          Applications
        %a.item{ href: reports_path }
          Reports
        .right.menu
          = link_to "My account", edit_user_registration_path, class: 'item'
          = link_to "Log out", destroy_user_session_path, method: :delete, class: 'item'
      - else
        .right.menu
          %a.item{href: new_user_registration_path}
            Sign up
          %a.item{href: new_user_session_path}
            Login
    .content.site-content
      = yield
    = render 'layouts/footer'
  :javascript
    $(document).ready(function() {
      $('.ui.dropdown').dropdown();

      var clipboard = new Clipboard('.clipboard-btn');
      console.log(clipboard);
    });
